.Chat {
    display: flex;
    flex-direction: column;
    width: 70%;
}
.Chat-toolbar {
    display: flex;
    flex-direction: row;
    background-color: #041c52;
    color: white;
    height: 4%;
    min-height: 70px;
    align-items: center;
    padding: .1em 1em;
}

.Chat-toolbar-chatinfo {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.Chat-toolbar-chatinfo-Avatar {
    margin: 1em;
}

.Chat-view {
    flex-grow: 1;
    background-image: url("../../public/assets/background.jpg");
    background-size: cover;
    overflow-y: scroll;
    border: solid 5px #281c4a;
    padding: 0px 3em;
}
.Chat-message {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: white;
    height: 8%;
    min-height: 80px;
    padding: 0em 1em;
}
.Chat-message-input {
    flex-grow: 1;
    padding: 0px 2em;
}
.Chat-message-input input {
    width: 100%;    
}

.Chat-icon {
    font-size: 1.5rem !important;
    padding: .1em .2em;
}