.Login-outer {
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.Login {
    padding: 2em;
    background-color: rgb(41, 27, 106);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    color: white;
}
.Login h1 {
    margin-bottom: 1em;
    padding-bottom: .2em;
    border-bottom: solid white 2px;
}
.Login label {
    margin-bottom: .2em;
}
.Login input {
    margin-bottom: 1em;
}

.Login-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}