.Message {
    margin: 2em 0em;
    padding: .5em;
    background-color: white;
    border-radius: 10px;
    width: 30%;
}

.Message-sent {
    margin-right: 0px;
    margin-left: auto;
    background-color: green;
}