@import "breakpoints";

.Message {
    display: flex;
    flex-direction: column;
    margin: 2em 0em;
    padding: .5em;
    background-color: white;
    border-radius: 10px;
    width: 30%;
}

.Message-sent {
    margin-right: 0px;
    margin-left: auto;
    background-color: green;
}

.Message .Message-name {
    margin: .2em 0;
}

.Message .Message-content {
    overflow-wrap: break-word;
    margin: .5em 0 .1em 0;
}

.Message .Message-time {
    color: grey;
}

.Message-attachment {
    width: 90%;
    height: auto;
    max-height: 10em;
    border-radius: 10px;
    border: solid white 2px;
    margin: auto;
    align-self: center;
    justify-self: center
}
.not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5em;
    width: 50%;
    background-color: rgb(13, 13, 37);
    color: white;
}
.not-found h2 {
    text-align: center;
}

@media only screen and (max-width: $medium) {
    .Message {
        width: 45%;
    }
}