.Popup {
    position: absolute;
    background-color: darkgrey;
    border: solid darkblue 3px;
    padding: 1em;
    color: black;
    font-size: 1rem;
}

.Popup-top-left {
    top: 100%;
    left: 0;
}

.Popup-top-right {
    top: 100%;
    right: 0;
}

.Popup-bottom-left {
    left: 0;
    bottom: 100%;;
}

.Popup-bottom-right {
    right: 0;
    bottom: 100%;
}